<header>
  <div id='logo' class='left'><span class='black'>PITCH</span><span class='orange'>IN</span></div>
  <div class='right' role='navigation'>one</div>
  <div class='middle'>
    <div style='width: 25px; display: inline-block;'></div>
    <a href='#' class='nav-link' id='pitch-link'>Pitch</a>
    <a href='#' class='nav-link' id='start-link'>Start</a>
    <div id='search-bar'>
      <span aria-hidden="true" class="ksr-icon__search"></span>
    </div>
  </div>
</header>