<header>
  <a href='/'>
    <div id='logo' class='left'><span class='black'>PITCH</span><span class='orange'>IN</span></div>
  </a>
  <div class='right' role='navigation'>Kirka</div>
  <div class='middle'>
    <a href='#' class='nav-link' id='pitch-link'>Pitch</a>
    <a href='#' class='nav-link' id='start-link'>Start</a>
    <div id='search-bar'>
      <span aria-hidden="true" class="glyphicon glyphicon-search"></span><input type='textbox' placeholder='Search'>
    </div>
  </div>
</header>